header {
    margin: 10px 0 20px;
}

.left-menu {
    padding-top: 30px;
}

.logo-wrapper {
    padding-top: 5px;
}

.logo-link,
.logo-link:hover,
.logo-link:active
{
    font-weight: bold;
    display: block;
    font-size: 26px;
    color: #E30613;
    text-decoration: none;
    line-height: 32px;
}